<!DOCTYPE html>
<html>
<head>
    <title>Cars</title>
    <link rel="stylesheet" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></link>
    <style>
        #cars_model {
                display:none;
        }
    </style>
</head>
<body>
<div class="container">
<fieldset>
    <legend>Cars</legend>
<p>
<select id="cars_make" name="make"><option value="">Select Make</option><option value="1">Ford</option><option value="2">Acura</option></select>
</p>

<p>
<select id="cars_model" name="model"><option value="Edge">Edge</option><option value="Escape">Escape</option><option value="ILX">ILX</option><option value="MDX">MDX</option></select>
</p>
<div id="car_pic"></div>
</fieldset>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>

	/** 
	 * Refresh model select options
         */
	function refresh_car_models(data) {

		$('#car_pic').html('');
		$('#cars_model').empty().append('<option value="">Select Model</option>');
		for (i in data) {

                	$('#cars_model').append('<option value=' + data[i]['id'] + '>' + data[i]['name'] + '</option>');
	    	}
	}

	/**
	 * Show the model dropdown select options on a make dropdown select change event
	 */
	function display_models() {
            $('#cars_make').bind('change', function() {
                // Read car data json from server, passing make request param.
                jQuery.ajax({
                        method: 'GET',
                        url: 'cars.php', 
                        data: 'make_id=' + $(this).val(), 
                        dataType: 'json',
                        success: function(data) {

                            parsed_data = JSON.parse(data);
                        
                            refresh_car_models(parsed_data);
                        }
                });

                if ($(this).val().length > 0) {
                    $('#cars_model').fadeIn();
                }
                else {
                    $('#cars_model').fadeOut();
                } 

            }); 
	}

       /** 
	* Write the Image element to the HTML on model change event
        */
       function display_pic() {
       	  $('#cars_model').bind('change', function() {
		jQuery.ajax({
                        method: 'GET',
                        url: 'cars.php', 
                        data: 'model_id=' + $(this).val(), 
                        dataType: 'text',
                        success: function(image) {
          
                        		$('#car_pic').html('<img src="images/' + image + '"></img>');
              
                        }
                });
	  });
       }
       
       /**
	* Document ready event handler
	*/
       $(document).ready(function() {
       	    	display_models();
		display_pic();
       });
</script>
</body>
</html>

